<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CSUVA</title>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
  <link rel="manifest" href="img/site.webmanifest">
  <link href="css/csuva.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Christian Students at UVA</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Sign-up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Welcome!</h1>
        <h2 class="text-white mx-auto mt-2 mb-5"><%= table[0].BannerText %></h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Learn more</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class = "centerbox">
        <h2 class="text-black mb-4">Who are we?</h2>
        <p class="text-black mb-0">We are a group of Christian at UVA discovering and experiencing the truths in the Bible. We also like to share the good news of God's full salvation with fellow students. We are believrs in Christ from various backgrounds. We love the Lord Jesus Christ and endeavor to give Him "the first place in all things" (Col. 1:18). Our desire is to cooperate with Him for the accomplishment of His eternal purpose (Eph. 3:11) by ministering the unsearchable riches of Christ (Eph. 3:18) for the building up of the Body of Christ.</p>
        <br>
        <p class="text-black mb-0">Whether through on-grounds Bible studies or evening meetings, we have found that athering together has strengthened us to pursue Christ during our college years. Just as the apostle Paul sought "to know Christ" (Phil 3:10), we also are seeking to know Him through the truth revealed in His word. Our care for one another goes beyond scheduled activities. We meet spontaneously to study God's Word, pray, and fellowship. We also support each other in our studies, recreation and other daily activities. We warmly invite you to contact us in order to pursue Christ together.</p>
      </div>
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Events</h4>
            <p class="text-black-50 mb-0">Monday-Wednesday-Friday</p>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="img/retreat.jpg" alt="">
        </div>
      </div>
      
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/bible.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Bible Study</h4>
                <p class="mb-0 text-white">Every week throughout the semester we meet together on Monday to study and enjoy the Bible. Typically, we select a book of the Bible to cover throughout the semester and study one chapter each week.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
            <img class="img-fluid" src="img/home.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Group Fellowship
                </h4>
                <p class="mb-0 text-white">On Wednesday nights, we gather together to enjoy Christ by singing and praying and fellowshipping over a particular topic in the Bible. Homecooked meals and desserts are provided!</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Three Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/lowpoly.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Home Meetings</h4>
                <p class="mb-0 text-white">Many families in the Charlottesville area help support this club, and on Friday nights, we meet in one of their homes for singing, fellowshipping and sharing what we've enjoyed throughout the week. Like Wednesday nights, dinner is provided!</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/retreats.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Retreats/Conferences</h4>
                <p class="mb-0 text-white">Several times throughout the year we participate in various retreats, outings and conferences. Some are solely for Christian Students at UVA whereas others also involve Christian students from other campuses along the East Coast.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Sign up here!</h2>
          <form class="form-inline d-flex" method="post" action="/signup"> 
            <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputFName" name = "firstname" placeholder="First name" required>
            <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputLName" name = "lastname" placeholder="Last name" required>
            <input type="number" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputPhone" name = "phone" placeholder="Phone (optional)">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" name = "email" placeholder="Email address" required>
            <button type="submit" class="btn btn-primary mx-auto mr-sm-2">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="social d-flex justify-content-center">
        <a href="mailto:christianstudentsatuva@gmail.com" class="mx-2">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.facebook.com/christianstudentsatuva/" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://github.com/ian-kang/csuva" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      christianstudentsatuva@gmail.com
    </div>
    <div class="container">
      Christian Students at UVA &copy; 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/csuva.js"></script>

</body>

</html>
